<!doctype html>
<html lang="en-US">

<head>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:600|IBM+Plex+Sans:400,500|IBM+Plex+Serif"
        rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <div class="wrapper">
        <div class="content">
            {{> partials/header}}
            {{!-- {{> partials/banner}}
            {{> partials/about}}
            {{> partials/rules}}
            {{> partials/calendar}}
            {{> partials/promo}}
            {{> partials/games}}
            {{> partials/reviews}}
            {{> partials/footer}} --}}
        </div>
    </div>

</head>

<body>

</body>

</html>