<div class="wrapper container-fluid">
    <section id="intro" class="full align-center" style="height: 674px; min-height: 722px;">
        <canvas id="intro-canvas" width="1536" height="674"></canvas>
        <div class="intro-text-wrapper">
            <h1 class="hide-totally uppercase" style="opacity: 1; display: block;">KOSMOS</h1>
            <h2 class="hide-totally" style="opacity: 1; display: block; transform: perspective(800px); transform-origin: 0px 100% 0px;">
                Front-end developer</h2>
        </div>
    </section>
</div>