<div class="wrapper container-fluid">
    <nav>
        <a href="#" class="link"></a>
        <a href="#" class="link"></a>
        <a href="#" class="link"></a>
        {{!-- <img src="df" alt="" class="logo"> --}}
        <a href="#" class="link"></a>
        <a href="#" class="link"></a>
        <a href="#" class="link"></a>
    </nav>
    <section id="intro" class="full align-center" style="height: 674px; min-height: 722px;">
        <canvas id="intro-canvas" width="1536" height="674"></canvas>
    </section>
</div>